---
import Layout from "../layouts/Layout.astro";
import LicensesScreen from "../screens/Licenses/index.astro";
---

<Layout
  title="Licenses"
  description="WhiteLuckBringers ポートフォリオサイトに使用しているオープンソースソフトウェアのライセンス一覧"
>
  <div class="px-2 container mx-auto">
    <LicensesScreen />
  </div>
</Layout>
