---
import Layout from "../layouts/Layout.astro";
import ProfileScreen from "../screens/Profile/index.astro";
---

<Layout title="Profile" description="アミーゴについて - 経験のある技術など">
  <div class="container mx-auto px-2">
    <ProfileScreen />
  </div>
</Layout>
