---
import Header from "./components/Header.astro";
import PersonalHistoryArea from "./components/PersonalHistoryArea.astro";
import TouchedTechnologiesArea from "./components/TouchedTechnologiesArea.astro";
---

<div>
  <Header />
  <!-- <FeaturedSkillsArea /> -->
  <TouchedTechnologiesArea />
  <PersonalHistoryArea />
</div>
