---
import { getTechnologyDefinition } from "../models/Technology";
import { ExternalLinkUnstyled } from "./base/ExternalLink";
import { isNotNullOrEmptyString } from "../utils/emptiness";
import { LinkExternalIcon } from "../icons";
import clsx from "clsx";

interface Props {
  name: string;
}
const { name } = Astro.props;
const def = getTechnologyDefinition(name);
const url = def?.url;
const styleClass =
  "rounded bg-primary-200 px-2 py-0.5 flex flex-row gap-x-1 items-center text-primary-900";
---

<>
  {
    isNotNullOrEmptyString(url) ? (
      <ExternalLinkUnstyled
        href={url}
        class={clsx(styleClass, "hover:bg-primary-300")}
      >
        <span>{name}</span>
        <LinkExternalIcon class="w-6 h-6" />
      </ExternalLinkUnstyled>
    ) : (
      <div class={styleClass}>
        <span>{name}</span>
      </div>
    )
  }
</>
